{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">Edit Project</h1>

<form method="POST">

    {% csrf_token %}

    <div class="mb-3">

        <label class="form-label">
            Project Title
        </label>

        <input type="text"
               name="title"
               value="{{ project.title }}"
               class="form-control">

    </div>

    <div class="mb-3">

        <label class="form-label">
            Description
        </label>

        <textarea name="description"
                  class="form-control"
                  rows="4">{{ project.description }}</textarea>

    </div>

    <button type="submit"
            class="btn btn-dark">

        Save Changes

    </button>

</form>

{% endblock %}
